[Desktop Entry]
Version=1.0
Terminal=false
Icon=truecrypt
Type=Application
Categories=Utility;
Exec=/usr/bin/truecrypt %f
MimeType=application/x-truecrypt
Name=TrueCrypt
GenericName=TrueCrypt
Comment=TrueCrypt
StartupNotify=true
Actions=MountFavorites;MountDevices;DismountAll;

[Desktop Action MountFavorites]
Name=Mount All Favorite Volumes
Exec=/usr/bin/truecrypt --auto-mount=favorites
TargetEnvironment=Unity

[Desktop Action MountDevices]
Name=Mount Devices
Exec=/usr/bin/truecrypt --auto-mount=devices
TargetEnvironment=Unity

[Desktop Action DismountAll]
Name=Dismount All Mounted Volumes
Exec=/usr/bin/truecrypt --dismount
TargetEnvironment=Unity
